---
import Backdrop from '~/components/common/Backdrop.astro';
import Experience from '~/components/common/Experience.astro';
import Socials from '~/components/common/Socials.astro';
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <main class="relative bg w-full flex justify-center">
    <Backdrop />

    <div class="relative flex flex-col justify-start items-start container w-full p-10 gap-16 z-5">
      <Socials />

      <div class="max-w-full w-[460px] flex-grow-0 flex-shrink-0">
        <p class="text-[16px] font-semibold text-left text-white">
          Hi, I’m
          <span
            class="font-semibold text-left"
            style={{
              background: 'linear-gradient(90.09deg, #D2CDD5 10.62%, #8BC3B4 80.6%, #86D3FF 100.47%)',
              '-webkit-background-clip': 'text',
              '-webkit-text-fill-color': 'transparent',
              'background-clip': 'text',
              'text-fill-color': 'transparent',
            }}>Artem Stelzer</span
          >, a software engineer based in Israel 🇮🇱 <br />
          Currently, I’m working as a FullStack engineer at <a
            class="underline"
            href="https://karmanow.com"
            target="_blank"
            rel="noreferrer">Karma</a
          > developing next-gen AI shopping assistant. I have a wide knowledge in web-development, scraping, data analytics
          and BI.
        </p>
      </div>

      <ol class="relative w-[460px] max-w-full flex flex flex-col">
        <Experience jobName="Karma" period="2022 Feb - Present">
          Building infrastructure for next-gen AI shopping assistant as a Fullstack developer.
        </Experience>
        <Experience jobName="digiwit.agency" period="2021 May - 2022 Feb">
          I co-founded homemade analytics and BI agency, specializing in data warehousing and analytics :)
          <br />
          With expertise in NodeJS, Python, Cloud Functions, Cloud Run, App Engine, BigQuery, and Supermetrics, we developed
          custom ETL processes and architected data warehouses to help companies like Verbit, Easy2Give, Terrific Digital,
          atomi, and Vyzer extract insights from their data.
        </Experience>
        <Experience jobName="Soyuzgruz" period="2019 Jan - 2020 Aug">
          I helped to build a cargo transportation startup, kind of like Uber for cargo. As a developer, I designed and
          implemented new features that made the experience awesome for both drivers and clients. Later, I became the
          lead frontend developer managing work on three of our projects: a web app, a driver app, and a client app.
          They were all a huge success and helped the company grow fast!
        </Experience>
      </ol>
    </div>
  </main>
</Layout>
